{% extends "cnc/mobile/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card qr">
  <h2 style="text-align:left;">{{ title }}</h2>
  <img src="{% url 'cnc_qr' token %}" alt="二维码">
  <div>{{ headline }}</div>
</div>
<div class="card">
  {% for label, value in rows %}
    <div class="row"><span>{{ label }}</span><b>{{ value }}</b></div>
  {% endfor %}
  <div>扫到这张单后，在下面登记物流、补录数据，或把信息交给下一个人。审批也在手机上办理。</div>
</div>
{% include "cnc/mobile/_events.html" %}
{% endblock %}
